
.login-form{
    display: flex;justify-content: center; gap: 20px;margin-bottom: 20px;width: 400px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
     }

#r{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 500px;
    display: flex;
    justify-content: center;
    height: 250px;
}
.head::first-letter{
    color: red !important;
}