{% include 'admin_header.html' %}


<div class="wrap">
   
    <div class="box">
        
        <img src="/static/images/mac.png" style="border-radius: 50px;">
    
        <h2>Facebook</h2>
        <p>Connect the world with facebook</p>
        <div class="clear"></div>
    </div>
    <!-- <div class="content">
        <div class="left-box">
            <h2>Making it look like readable English</h2>
            <p class="para">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors</p>
            <img src="/static/images/nest.jpg" alt=" " />
            <div class="clear"></div>
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors</p>
         <p class="more"><a href="#">more...</a></p>
        </div>
        <div class="left-box">
            <h2>Many desktop publishing packages</h2>
            <p class="para">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors</p>
            <img src="/static/images/nest1.jpg" alt=" " />
            <div class="clear"></div>
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors</p>
         <p class="more"><a href="#">more...</a></p>
        </div>
    </div>
    <div class="sidebar">
    <div class="right-box">
        <h2>Content here</h2>
        <ul>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        </ul>
        <h2>Distribution of letters</h2>
        <ul>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        <li><a href="#">Lorem ipsum dolor sit ame</a></li>
        </ul>
    </div>
    </div>
    <div class="clear"></div>
    </div>
    </div> -->

{% include 'footer.html' %}