
<div class="footer" style="margin-top: 170px;width: 100%;">
    <div class="wrap" ">
        <ul>
        	<h4>Distribution</h4>
            <li><a href="#">Home</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul>
        	<h4>Readable</h4>
            <li><a href="#">Home</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul>
        	<h4>Publishing</h4>
            <li><a href="#">Home</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul>
        	<h4>Packages</h4>
            <li><a href="#">Home</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <div class="clear"></div>
    <div class="copy">
    	<p>&copy; 2012 Twister . All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
    </div>
</div>
</body>
</html>
